@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';


@theme {
  --color-forest: #003934;
  --color-dew: #BDCD9A;

  --font-uni-neue: 'Uni-Neue-Regular', sans-serif;
  --font-uni-neue-bold: 'Uni-Neue-Bold', sans-serif;
  --font-uni-neue-book: 'Uni-Neue-Book', sans-serif;

  --text-xxxs: 0.625rem; /* 10px */
  --text-xxs: 0.75rem; /* 12px */
  --text-xs: 0.875rem; /* 14px */
  --text-sm: 1rem; /* 16px */
  --text-md: 1.125rem; /* 18px */
  --text-lg: 1.25rem; /* 20px */
  --text-xl: 1.5rem; /* 24px */
  --text-2xl: 1.75rem; /* 28px */
  --text-3xl: 2.5rem; /* 40px */
  --text-4xl: 4rem; /* 64px */

  --spacing-0: 0rem;
  --spacing-1: 0.0625rem;
  --spacing-2: 0.125rem;
  --spacing-3: 0.1875rem;
  --spacing-4: 0.25rem;
  --spacing-5: 0.3125rem;
  --spacing-6: 0.375rem;
  --spacing-7: 0.4375rem;
  --spacing-8: 0.5rem;
  --spacing-9: 0.5625rem;
  --spacing-10: 0.625rem;
  --spacing-11: 0.6875rem;
  --spacing-12: 0.75rem;
  --spacing-13: 0.8125rem;
  --spacing-14: 0.875rem;
  --spacing-15: 0.9375rem;
  --spacing-16: 1rem;
  --spacing-17: 1.0625rem;
  --spacing-18: 1.125rem;
  --spacing-19: 1.1875rem;
  --spacing-20: 1.25rem;
  --spacing-21: 1.3125rem;
  --spacing-22: 1.375rem;
  --spacing-23: 1.4375rem;
  --spacing-24: 1.5rem;
  --spacing-25: 1.5625rem;
  --spacing-26: 1.625rem;
  --spacing-27: 1.6875rem;
  --spacing-28: 1.75rem;
  --spacing-29: 1.8125rem;
  --spacing-30: 1.875rem;
  --spacing-31: 1.9375rem;
  --spacing-32: 2rem;
  --spacing-33: 2.0625rem;
  --spacing-34: 2.125rem;
  --spacing-35: 2.1875rem;
  --spacing-36: 2.25rem;
  --spacing-37: 2.3125rem;
  --spacing-38: 2.375rem;
  --spacing-39: 2.4375rem;
  --spacing-40: 2.5rem;
  --spacing-41: 2.5625rem;
  --spacing-42: 2.625rem;
  --spacing-43: 2.6875rem;
  --spacing-44: 2.75rem;
  --spacing-45: 2.8125rem;
  --spacing-46: 2.875rem;
  --spacing-47: 2.9375rem;
  --spacing-48: 3rem;
  --spacing-49: 3.0625rem;
  --spacing-50: 3.125rem;
  --spacing-51: 3.1875rem;
  --spacing-52: 3.25rem;
  --spacing-53: 3.3125rem;
  --spacing-54: 3.375rem;
  --spacing-55: 3.4375rem;
  --spacing-56: 3.5rem;
  --spacing-57: 3.5625rem;
  --spacing-58: 3.625rem;
  --spacing-59: 3.6875rem;
  --spacing-60: 3.75rem;
  --spacing-61: 3.8125rem;
  --spacing-62: 3.875rem;
  --spacing-63: 3.9375rem;
  --spacing-64: 4rem;
  --spacing-65: 4.0625rem;
  --spacing-66: 4.125rem;
  --spacing-67: 4.1875rem;
  --spacing-68: 4.25rem;
  --spacing-69: 4.3125rem;
  --spacing-70: 4.375rem;
  --spacing-71: 4.4375rem;
  --spacing-72: 4.5rem;
  --spacing-73: 4.5625rem;
  --spacing-74: 4.625rem;
  --spacing-75: 4.6875rem;
  --spacing-76: 4.75rem;
  --spacing-77: 4.8125rem;
  --spacing-78: 4.875rem;
  --spacing-79: 4.9375rem;
  --spacing-80: 5rem;
  --spacing-81: 5.0625rem;
  --spacing-82: 5.125rem;
  --spacing-83: 5.1875rem;
  --spacing-84: 5.25rem;
  --spacing-85: 5.3125rem;
  --spacing-86: 5.375rem;
  --spacing-87: 5.4375rem;
  --spacing-88: 5.5rem;
  --spacing-89: 5.5625rem;
  --spacing-90: 5.625rem;
  --spacing-91: 5.6875rem;
  --spacing-92: 5.75rem;
  --spacing-93: 5.8125rem;
  --spacing-94: 5.875rem;
  --spacing-95: 5.9375rem;
  --spacing-96: 6rem;
  --spacing-97: 6.0625rem;
  --spacing-98: 6.125rem;
  --spacing-99: 6.1875rem;
  --spacing-100: 6.25rem;
  --spacing-101: 6.3125rem;
  --spacing-102: 6.375rem;
  --spacing-103: 6.4375rem;
  --spacing-104: 6.5rem;
  --spacing-105: 6.5625rem;
  --spacing-106: 6.625rem;
  --spacing-107: 6.6875rem;
  --spacing-108: 6.75rem;
  --spacing-109: 6.8125rem;
  --spacing-110: 6.875rem;
  --spacing-111: 6.9375rem;
  --spacing-112: 7rem;
  --spacing-113: 7.0625rem;
  --spacing-114: 7.125rem;
  --spacing-115: 7.1875rem;
  --spacing-116: 7.25rem;
  --spacing-117: 7.3125rem;
  --spacing-118: 7.375rem;
  --spacing-119: 7.4375rem;
  --spacing-120: 7.5rem;
  --spacing-121: 7.5625rem;
  --spacing-122: 7.625rem;
  --spacing-123: 7.6875rem;
  --spacing-124: 7.75rem;
  --spacing-125: 7.8125rem;
  --spacing-126: 7.875rem;
  --spacing-127: 7.9375rem;
  --spacing-128: 8rem;
  --spacing-129: 8.0625rem;
  --spacing-130: 8.125rem;
  --spacing-131: 8.1875rem;
  --spacing-132: 8.25rem;
  --spacing-133: 8.3125rem;
  --spacing-134: 8.375rem;
  --spacing-135: 8.4375rem;
  --spacing-136: 8.5rem;
  --spacing-137: 8.5625rem;
  --spacing-138: 8.625rem;
  --spacing-139: 8.6875rem;
  --spacing-140: 8.75rem;
  --spacing-141: 8.8125rem;
  --spacing-142: 8.875rem;
  --spacing-143: 8.9375rem;
  --spacing-144: 9rem;
  --spacing-145: 9.0625rem;
  --spacing-146: 9.125rem;
  --spacing-147: 9.1875rem;
  --spacing-148: 9.25rem;
  --spacing-149: 9.3125rem;
  --spacing-150: 9.375rem;
  --spacing-151: 9.4375rem;
  --spacing-152: 9.5rem;
  --spacing-153: 9.5625rem;
  --spacing-154: 9.625rem;
  --spacing-155: 9.6875rem;
  --spacing-156: 9.75rem;
  --spacing-157: 9.8125rem;
  --spacing-158: 9.875rem;
  --spacing-159: 9.9375rem;
  --spacing-160: 10rem;
  --spacing-161: 10.0625rem;
  --spacing-162: 10.125rem;
  --spacing-163: 10.1875rem;
  --spacing-164: 10.25rem;
  --spacing-165: 10.3125rem;
  --spacing-166: 10.375rem;
  --spacing-167: 10.4375rem;
  --spacing-168: 10.5rem;
  --spacing-169: 10.5625rem;
  --spacing-170: 10.625rem;
  --spacing-171: 10.6875rem;
  --spacing-172: 10.75rem;
  --spacing-173: 10.8125rem;
  --spacing-174: 10.875rem;
  --spacing-175: 10.9375rem;
  --spacing-176: 11rem;
  --spacing-177: 11.0625rem;
  --spacing-178: 11.125rem;
  --spacing-179: 11.1875rem;
  --spacing-180: 11.25rem;
  --spacing-181: 11.3125rem;
  --spacing-182: 11.375rem;
  --spacing-183: 11.4375rem;
  --spacing-184: 11.5rem;
  --spacing-185: 11.5625rem;
  --spacing-186: 11.625rem;
  --spacing-187: 11.6875rem;
  --spacing-188: 11.75rem;
  --spacing-189: 11.8125rem;
  --spacing-190: 11.875rem;
  --spacing-191: 11.9375rem;
  --spacing-192: 12rem;
  --spacing-193: 12.0625rem;
  --spacing-194: 12.125rem;
  --spacing-195: 12.1875rem;
  --spacing-196: 12.25rem;
  --spacing-197: 12.3125rem;
  --spacing-198: 12.375rem;
  --spacing-199: 12.4375rem;
  --spacing-200: 12.5rem;
  --spacing-201: 12.5625rem;
  --spacing-202: 12.625rem;
  --spacing-203: 12.6875rem;
  --spacing-204: 12.75rem;
  --spacing-205: 12.8125rem;
  --spacing-206: 12.875rem;
  --spacing-207: 12.9375rem;
  --spacing-208: 13rem;
  --spacing-209: 13.0625rem;
  --spacing-210: 13.125rem;
  --spacing-211: 13.1875rem;
  --spacing-212: 13.25rem;
  --spacing-213: 13.3125rem;
  --spacing-214: 13.375rem;
  --spacing-215: 13.4375rem;
  --spacing-216: 13.5rem;
  --spacing-217: 13.5625rem;
  --spacing-218: 13.625rem;
  --spacing-219: 13.6875rem;
  --spacing-220: 13.75rem;
  --spacing-221: 13.8125rem;
  --spacing-222: 13.875rem;
  --spacing-223: 13.9375rem;
  --spacing-224: 14rem;
  --spacing-225: 14.0625rem;
  --spacing-226: 14.125rem;
  --spacing-227: 14.1875rem;
  --spacing-228: 14.25rem;
  --spacing-229: 14.3125rem;
  --spacing-230: 14.375rem;
  --spacing-231: 14.4375rem;
  --spacing-232: 14.5rem;
  --spacing-233: 14.5625rem;
  --spacing-234: 14.625rem;
  --spacing-235: 14.6875rem;
  --spacing-236: 14.75rem;
  --spacing-237: 14.8125rem;
  --spacing-238: 14.875rem;
  --spacing-239: 14.9375rem;
  --spacing-240: 15rem;
  --spacing-241: 15.0625rem;
  --spacing-242: 15.125rem;
  --spacing-243: 15.1875rem;
  --spacing-244: 15.25rem;
  --spacing-245: 15.3125rem;
  --spacing-246: 15.375rem;
  --spacing-247: 15.4375rem;
  --spacing-248: 15.5rem;
  --spacing-249: 15.5625rem;
  --spacing-250: 15.625rem;
}